:root {
    --line-progress-fill: #ff0000;
    --line-progress-empty: #e1e1e1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner {
    text-align: center;
}

.progress-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    position: relative;
    margin-bottom: 30px;
}

.progress-conteiner::after {
    content: '';
    background-color: var(--line-progress-empty);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -2;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
}

.progress {
    background-color: var(--line-progress-fill);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    height: 5px;
    width: 2%;
}

.circle {
    background-color: #f6f6f6;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--line-progress-empty);
}

.circle.active {
    border-color: var(--line-progress-fill);
}

.btn {
    background-color: var(--line-progress-fill);
    color: #f6f6f6;
    padding: 6px 25px;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 12px;
}

.btn.active {
    transform: scale(0.90);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-progress-empty);
    cursor: not-allowed;
}