* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    position: relative;
}

.progress-conteiner::after {
    content: '';
    background-color: #e1e1e1;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -2;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
}

.progress {
    background: #ff0000;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    height: 5px;
    width: 2%;
}

.circle {
    background: #f6f6f6;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e1e1e1;
}