* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}