* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    overflow-x: hidden;
}

h1 {
    margin-top: 50px;
}

.box {
    background-color: #2850de;
    color: #fafafa;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(300%);
    transition: transform 0.5s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-300%);
}

.box.show {
    transform: translateX(0);
}