* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #333333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fafafa;
    font-size: 1rem;
    width: 50px;
    height: 50px;
    padding: 15px;
    transition: width 0.3s ease;
}

.search .btn {
    background-color: #fafafa;
    position: absolute;
    inset: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.input:focus {
    outline: none;
}