* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
}

.number {
    font-size: 12rem;
    margin-bottom: 20px;
}

div {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s ease;
}

