@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    text-align: center;
}

.number {
    font-weight: 700;
    font-size: 12rem;
    margin-bottom: 20px;
}

div {
    display: flex;
    gap: 15px;
}

.btn {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.btn:active {
    transform: scale(0.95);
}

.decrease:hover {
    background-color: #e14141;
    color: #fafafa;
}

.increase:hover {
    background-color: #2bb637;
    color: #fafafa;
}
