* {
    box-sizing: border-box;
}

body{
    background-color: #333333;
    height: 100vh;
    color: #222222;
    margin: 0;
    overflow-x: hidden;
}

.conteiner {
    background-color: #fafafa;
    padding: 50px 10%;
    transform-origin: top left;
    transition: transform 0.5s linear;
    min-height: 100vw;
}

.image {
    max-width: 100%;
}

.conteiner.show-nav {
    transform: rotate(-20deg);
}

.circle-conteiner {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.conteiner.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    border: none;
    font-size: 26px;
    color: #fafafa;
    cursor: pointer;
}

.circle:focus {
    outline: none;
}

.circle button.open {
    left: 60%;
}

.circle button.close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.conteiner.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    padding: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fafafa;
    margin: 35px 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);
}