* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-1 {
    background-image: url(./imgs/anthony-delanoix-QAwciFlS1g4-unsplash.jpg);
}

.image-2 {
    background-image: url(./imgs/patrick-tomasso-SVVTZtTGyaU-unsplash.jpg);
}

.image-3 {
    background-image: url(./imgs/marcin-nowak-iXqTqC-f6jI-unsplash.jpg);
}

.image-4 {
    background-image: url(./imgs/d-f-y-b-travel-captures-Dw-0Sic6dgU-unsplash.jpg);
}

.image-5 {
    background-image: url(./imgs/arvid-malde-3VCrw7nHH4A-unsplash.jpg);
}