* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg {
    background: url(./img/samuel-jeronimo-2Gz_qwbbnKM-unsplash.jpg) no-repeat center center/cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: blur(70px);
}

.text-loading {
    font-size: 4rem;
    color: #fafafa;
}